<mat-card class="user-list">
  <mat-card-title>Enter the shop</mat-card-title>
  <mat-card-subtitle>Find your name below to enter</mat-card-subtitle>
  <mat-card-actions>
    <mat-form-field appearance="fill">
      <mat-label>Users</mat-label>
      <mat-select [(ngModel)]="userId">
        <mat-option *ngFor="let user of users" value="{{user.id}}" >{{user.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" [(ngModel)]="password" class="pass">

    </mat-form-field>
    <br>
    <button mat-button (click)="login()">Log In</button>
  </mat-card-actions>
  <label *ngIf="passError" class="error">Incorrect password!</label>
</mat-card>
