@media (max-width: 400px){
  .user-list {
    margin: 5px;
  }
  .back {
    margin-left: 5px;
    margin-top: 4px;
  }
}

@media (min-width: 401px){
  .user-list {
    margin: 20px 200px;
    text-align: center;
  }
  .back {
    margin-left: 50px;
    margin-top: 10px;
  }
}

.error {
  font: red;
}
.pass {
  width: 200px;
}
