<button mat-raised-button color="primary"
 routerLink="/welcome" class="back">Go Back</button>
<h1 class="title">Pick an EXTREME color!</h1>
<h3 class="title">Lucky you, colors are free!!</h3>

<mat-card class="color">
  <mat-card-content>
    <img mat-card-image src="/assets/img/black1.png" alt="">
  </mat-card-content>
  <mat-card-actions>
    <a href="/assets/img/black1.png"download>
      <button mat-button color="primary">Download</button>
    </a>
  </mat-card-actions>
</mat-card>

<mat-card class="color">
  <mat-card-content>
    <img mat-card-image src="/assets/img/black2.png" alt="">
  </mat-card-content>
  <mat-card-actions>
    <a href="/assets/img/black2.png"download>
      <button mat-button color="primary">Download</button>
    </a>
  </mat-card-actions>
</mat-card>

<mat-card class="color">
  <mat-card-content>
    <img mat-card-image src="/assets/img/blue1.png" alt="">
  </mat-card-content>
  <mat-card-actions>
    <a href="/assets/img/blue1.png"download>
      <button mat-button color="primary">Download</button>
    </a>
  </mat-card-actions>
</mat-card>

<mat-card class="color">
  <mat-card-content>
    <img mat-card-image src="/assets/img/green1.png" alt="">
  </mat-card-content>
  <mat-card-actions>
    <a href="/assets/img/green1.png"download>
      <button mat-button color="primary">Download</button>
    </a>
  </mat-card-actions>
</mat-card>

<mat-card class="color">
  <mat-card-content>
    <img mat-card-image src="/assets/img/green2.png" alt="">
  </mat-card-content>
  <mat-card-actions>
    <a href="/assets/img/green2.png"download>
      <button mat-button color="primary">Download</button>
    </a>
  </mat-card-actions>
</mat-card>

<mat-card class="color">
  <mat-card-content>
    <img mat-card-image src="/assets/img/green3.png" alt="">
  </mat-card-content>
  <mat-card-actions>
    <a href="/assets/img/green3.png"download>
      <button mat-button color="primary">Download</button>
    </a>
  </mat-card-actions>
</mat-card>

<mat-card class="color">
  <mat-card-content>
    <img mat-card-image src="/assets/img/purple1.png" alt="">
  </mat-card-content>
  <mat-card-actions>
    <a href="/assets/img/purple1.png"download>
      <button mat-button color="primary">Download</button>
    </a>
  </mat-card-actions>
</mat-card>

<mat-card class="color">
  <mat-card-content>
    <img mat-card-image src="/assets/img/purple2.png" alt="">
  </mat-card-content>
  <mat-card-actions>
    <a href="/assets/img/purple2.png"download>
      <button mat-button color="primary">Download</button>
    </a>
  </mat-card-actions>
</mat-card>

<mat-card class="color">
  <mat-card-content>
    <img mat-card-image src="/assets/img/pink1.png" alt="">
  </mat-card-content>
  <mat-card-actions>
    <a href="/assets/img/pink1.png"download>
      <button mat-button color="primary">Download</button>
    </a>
  </mat-card-actions>
</mat-card>

<mat-card class="color">
  <mat-card-content>
    <img mat-card-image src="/assets/img/red1.png" alt="">
  </mat-card-content>
  <mat-card-actions>
    <a href="/assets/img/red1.png"download>
      <button mat-button color="primary">Download</button>
    </a>
  </mat-card-actions>
</mat-card>

<mat-card class="color">
  <mat-card-content>
    <img mat-card-image src="/assets/img/orange1.png" alt="">
  </mat-card-content>
  <mat-card-actions>
    <a href="/assets/img/orange1.png"download>
      <button mat-button color="primary">Download</button>
    </a>
  </mat-card-actions>
</mat-card>

<mat-card class="color">
  <mat-card-content>
    <img mat-card-image src="/assets/img/yellow1.png" alt="">
  </mat-card-content>
  <mat-card-actions>
    <a href="/assets/img/yellow1.png"download>
      <button mat-button color="primary">Download</button>
    </a>
  </mat-card-actions>
</mat-card>

<mat-card class="color">
  <mat-card-content>
    <img mat-card-image src="/assets/img/silver1.png" alt="">
  </mat-card-content>
  <mat-card-actions>
    <a href="/assets/img/silver1.png"download>
      <button mat-button color="primary">Download</button>
    </a>
  </mat-card-actions>
</mat-card>

<mat-card class="color">
  <mat-card-content>
    <img mat-card-image src="/assets/img/white1.png" alt="">
  </mat-card-content>
  <mat-card-actions>
    <a href="/assets/img/white1.png"download>
      <button mat-button color="primary">Download</button>
    </a>
  </mat-card-actions>
</mat-card>

